*~
#*
*.log
*.err
*.valid
*.pyc
*.csv
*.png
*.pddl
*.plan
*.negative
*.trace
*.npz
*.tar
*.tar.bz2
learn/events*
/mnist_model/
*.bin
*.lprof
*.h5
/samples/table
problem-instances/*/
blocks*/
countries*/
problem-instances-ama2/
problem-instances-16/
problem-instances-16-korf/
problem-instances-cube-aae/
/build/
/dist/
/latplan.egg-info/
/puzzle/
/sokoban/
tmp*
*.sqlite
*.ods
